@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

@*<pre>@Model</pre>*@
@*<span>Brookes testing is working</span>*@

<div class="chsectionHeading">
    <div class="chheading">
        <h2>@Model.headingvalue</h2>  
        
        @if(Model.value != null)
        {                      
            <div class="chheadingimg1"><img src="@Model.value.image" alt="@Model.value.altText"/></div>  
        }
    </div>        
</div>

@*
<hr />
<hr />              
<pre>@Model</pre>    
<hr />
<hr />
@Model.value.image
*@