@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    String img1 = (Model.value != null && Model.value.images != null && Model.value.images.image1 != null) ? Model.value.images.image1.image : "";
    String img2 = (Model.value != null && Model.value.images != null && Model.value.images.image2 != null) ? Model.value.images.image2.image : "";
    String img1AltText = (Model.value != null && Model.value.images != null && Model.value.images.image1 != null) ? Model.value.images.image1.altText : "";
    String img2AltText = (Model.value != null && Model.value.images != null && Model.value.images.image1 != null) ? Model.value.images.image1.altText : "";
}
@*<pre>@Model</pre>*@
@*<span>Brookes testing is working</span>*@


<div class="heading2outter">
    <div class="himage">
        @if (!string.IsNullOrEmpty(img1))
        {
            <img src="@img1" alt="@img1AltText" />
        }
    </div>
    <div class="heading2">
        <div class="heading2table">
            <div class="heading2cell">@Model.value.Heading</div>
        </div>
        <div class="summary">@Model.value.Summary</div>
    </div>
    <div class="himage">
        @if (!string.IsNullOrEmpty(img2))
        {
            <img src="@img2" alt="@img2AltText" />
        }
    </div>
</div>
<div style="clear:both;"></div>
@*
    <hr />
    <hr />
    <pre>@Model</pre>
    <hr />
    <hr />
    @Model.value.image
*@