@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    string partycircle = (Model.value != null && Model.value.images != null && Model.value.images.partycircle != null) ? Model.value.images.partycircle.image : null;
    string partysvgleft = (Model.value != null && Model.value.images != null && Model.value.images.partysvgleft != null) ? Model.value.images.partysvgleft.image : null;
    string partysvgright = (Model.value != null && Model.value.images != null && Model.value.images.partysvgright != null) ? Model.value.images.partysvgright.image : null;
    string partycrowd = (Model.value != null && Model.value.images != null && Model.value.images.partycrowd != null) ? Model.value.images.partycrowd.image : null;
    string partycircleAlttext = (Model.value != null && Model.value.images != null && Model.value.images.partycircle != null) ? Model.value.images.partycircle.altText : null;
    string partysvgleftAlttext = (Model.value != null && Model.value.images != null && Model.value.images.partysvgleft != null) ? Model.value.images.partysvgleft.altText : null;
    string partysvgrightAlttext = (Model.value != null && Model.value.images != null && Model.value.images.partysvgright != null) ? Model.value.images.partysvgright.altText : null;
    string partycrowdAlttext = (Model.value != null && Model.value.images != null && Model.value.images.partycrowd != null) ? Model.value.images.partycrowd.altText : null;
}
<div class="partysec">
    <div class="balibelly">
        <div class="partycircle">
            <div class="headingwithimage">
                <span>@Model.headingleft </span>
                <div class="headingimage">   <img src="@partycircle" alt="@partycircleAlttext" /></div>
                <span>@Model.headingright</span>
            </div>
        </div>

        <div class="contentarea">
            <div class="partyheadingwithleftrightimage">
                <div class="partysvg left">
                    <img src="@partysvgleft" alt="@partysvgleftAlttext" />
                </div>
                <h3>@Model.subheading</h3>
                <div class="partysvg right">
                    <img src="@partysvgright" alt="@partysvgrightAlttext" />
                </div>
            </div>
            <div class="chrichtext text orangebg">
                @Html.Raw(Model.rteValue)
            </div>

            <div class="partycrowd">
                <img src="@partycrowd" alt="@partycrowdAlttext" />
            </div>
        </div>
    </div>

</div>
<div class="clear"></div>