@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    String topimage = (Model.value != null && Model.value.images != null && Model.value.images.topimage != null) ? Model.value.images.topimage.image : null;
    String bottomimage = (Model.value != null && Model.value.images != null && Model.value.images.bottomimage != null) ? Model.value.images.bottomimage.image : null;
    String topimageAlttext = (Model.value != null && Model.value.images != null && Model.value.images.topimage != null) ? Model.value.images.topimage.altText : null;
    String bottomimageAlttext = (Model.value != null && Model.value.images != null && Model.value.images.bottomimage != null) ? Model.value.images.bottomimage.altText : null;
    String toprowcontenttype = (Model != null) ? Model.toprowcontenttype : null;
    String bottomrowcontenttype = (Model != null) ? Model.bottomrowcontenttype : null;
}
<div class="whiteboxwithorangetoprowcontainer">
    <div class="toprow">
        @if (toprowcontenttype == "image")
        {
            <img src="@topimage" alt="@topimageAlttext" />
        }
        @if (toprowcontenttype == "text")
        {
            <h2>@Model.topheading</h2>
        }
    </div>
    <div class="middlerow chrichtext">
        @Html.Raw(Model.rteValue)
    </div>
    <div class="bottomrow">
        @if (bottomrowcontenttype == "image")
        {
            <img src="@bottomimage" alt="@bottomimageAlttext" />
        }
        @if (bottomrowcontenttype == "text")
        {
            <h2>@Model.bottomheading</h2>
        }
    </div>
</div>