@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{
    var hv = Model;
    var tabData = hv["inputs"];
}
<div class="threebox">
    <div class="ul">
        @foreach (var row in tabData)
        {
            <div class="li">
                <div class="circlediv">
                    @if (row.leftimage != null)
                    {
                        <img src="@row.leftimage.image" alt="@row.leftimage.altText" />
                    }
                </div>
                <div class="text">
                    <div class="contentbox chrichtext">
                        @Html.Raw(row.content)
                    </div>
                </div>
                <div class="rightdiv">
                    @if (row.rightimage != null)
                    {
                        <img src="@row.rightimage.image" alt="@row.rightimage.altText" />
                    }
                </div>
                <div class="clear"></div>
            </div>
        }
    </div>
</div>
